#content, #wrapper, html, body {
    height: 100%;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    color: @beige;
    text-rendering: optimizeLegibility;
    font-family: "Open Sans", sans-serif;
}

#content {
    width: 50%;
    float: left;
    text-align: right;
}

#background-wrapper {
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    position:absolute;
    z-index: -22;
    background: #000;
}

#background-picture {
    bottom: 0;
    right: 0;
    width:500px;
    height:568px;
    position:fixed;
    background: url('../img/background_small.png');
    background-repeat: no-repeat;
}

.nav-area {
    position: relative;
    display: table;
    width: 27%;
    height: 100%;
}

.nav {
    li {
        margin-left: 5px;
    }

    li a {
        text-decoration: none;
        font-size: 24px;
        color: @blue;

    }

    li a:hover {
        color: @green;
        background: none;
    }
}

h2{
    color: @green;

}

.content-section {
    position: relative;
    z-index: 50;
    display: table;
    width: 100%;
    height: 100%;
    
    border-right: 1px solid rgba(255,255,255,.15);

    .content-inner {

    }

    .content-panel {
        padding: 25px 0;
        background: rgba(9,52,78,.3);
    }

    .top-content {
        height: 40px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(9,52,78,.3) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(9,52,78,.3))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(9,52,78,.3) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(9,52,78,.3) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(9,52,78,.3) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(9,52,78,.3) 100%); /* W3C */
    }

    .bottom-content {
        height: 40px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.65+0,0+100;Neutral+Density */
        background: -moz-linear-gradient(top,  rgba(9,52,78,.3) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(9,52,78,.3)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(9,52,78,.3) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(9,52,78,.3) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(9,52,78,.3) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(9,52,78,.3) 0%,rgba(0,0,0,0) 100%); /* W3C */
    }
}

.layout-single-column {
    max-width: 640px;
    margin: 0 auto;
}


.vertical {
    display: table-cell;
    vertical-align: middle;
}

header{
    font-size: 24px;
    .title {
        font-size: 60px;
        font-weight: 400;
        line-height: .95;
        margin-bottom: 0;
        color: @green;
    }
}

.code {
    font-family: 'Cutive Mono',monospace;
    padding-left: 10px;
    letter-spacing: -3px;
    color: darken(@green, 25%);
}

article h4 {
    font-size: 22px;
    color: @gray-light;
}

#main-article {
    margin-top: 100px;
}

#particles-js {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}