body {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    color: #fff;
    text-rendering: optimizeLegibility;
    text-align: center;
    font-family: "proxima-nova", Helvetica, sans-serif;

}

#background-wrapper {
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    position:absolute;
    z-index: -22;
    background: #1a1a1a url('../img/sparkler.jpg') center center fixed;
    background-repeat: no-repeat;
    background-size: cover;

}

.header {
    margin-top: 5%;
    text-align: center;
    .title {
        font-size: 100px;
        line-height: .95;
        font-weight: 700;
        letter-spacing: 0.03em;
        margin-bottom: 0;
    }
    h2 {
        font-size: 25px;
        color: #d3d3d3;
        margin-top: 0;
        margin-bottom: 0;
    }
    h3 {
        font-size: 20px;
        margin-top: 0;
        color: #d3d3d3;
    }
}

.code {
    font-family: monospace;
    padding-left: 10px;
}

.blurb {
    margin-top: 50px;
    text-align: center;
    text-transform: uppercase;
}

.contact {
    color: #fff;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    a {
        padding: 15px;
        color: #fff;
        text-decoration: none;
        background-color: #333;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    a:hover {
        background-color: #4a4a4a;
    }
}