.wrapper {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    color: #fff;
    text-rendering: optimizeLegibility;
    font-family: "proxima-nova", Helvetica, sans-serif;

}
.wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
.wrapper:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.wrapper-inner {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    z-index: 2;
    margin-top: 5%;
    max-width: 75%;
    left: 12%;
}

#background-wrapper {
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
    position:absolute;
    z-index: 2;
    background: #1a1a1a url('../img/sparkler.jpg') center center fixed;
    background-repeat: no-repeat;
    background-size: cover;

}
#background {
    top:50%;
    left:50%;
    z-index:1;
    width:3000px;
    height:3000px;
    position:absolute;

    svg {
        margin:-50% 0 0 -50%;
        display:block;
    }

}

.header {
    padding-top: 50px;
    .title {
        font-size: 100px;
        line-height: .95;
        font-weight: 700;
        letter-spacing: 0.03em;
        margin-bottom: 0;
    }
    .subhead {
        font-size: 20px;
        line-height: 1;
        letter-spacing: 0.01em;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 25px;
        color: #d1cdbf;
    }
}

#slideshow { 
    margin: 50px auto; 
    width: 150px; 
    height: 150px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
    -moz-border-radius: 25%; 
    -webkit-border-radius: 25%; 
    border-radius: 25%;
    background: rgba(0,0,0,0.3);

    .contents {
        position: absolute;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-top: 25px;
        font-weight: 500;
        text-transform: uppercase;
    }
}