<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page.title }}</title>
<link href="feed/atom.xml" rel="alternate" title="violetco.de" type="application/atom+xml" />

<link rel="profile" href="http://gmpg.org/xfn/11" /> 
 
<!-- Favicons --> 
<link rel="shortcut icon" href="/img/favicon.ico"/> 
<link rel="apple-touch-icon" href="/img/iphone.png"/> 
 
<!-- Meta --> 
<meta charset="UTF-8" /> 
<meta name="author" content="Marie VerMurlen" /> 
<meta name="description" content="Something something something." /> 

<!-- Stylesheets -->
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" media="screen" />	
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
<link rel="stylesheet" href="/css/prettify.css" type="text/css" media="screen, projection" /> 

<!-- Javascript --> 
<script type="text/javascript" src="http://use.typekit.com/oab6bjn.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--> 
<!-- Google Analytics -->
<script>
    var _gaq=[['_setAccount','UA-1247925-1'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script> 
 
<!-- Google Analytics end -->

<meta name="google-site-verification" content="XgNXPhrvNhDaAaxVkwJoRpF7zkRJVWnQvY5z4NA_-Fs" />
<meta name="msvalidate.01" content="EC4483FB6641A49F071B1A9BB003C051" />
</head>

<body onload="prettyPrint()">

<div class="site">

	<header class="title">
		<h1><a href="/">Violetcode</a></h1>
		<span class="extra">By Marie VerMurlen.</span>
	</header>
  
	{{ content }}
  
	<footer>
      <p>Copyright 2010&ndash;2012 <strong>Marie VerMurlen.</strong> All Rights Reserved.</p>
	</footer>
	
</div>

<a href="https://github.com/violetcode"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

<script src="/js/prettify.js"></script>

<!-- Twitter -->
<script type="text/javascript"> 
  twttr.anywhere(function (T) {
    T(".site").hovercards();
  });
</script>

<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
<script src="http://platform.twitter.com/anywhere.js?id=mLdcgVXbpDtfywaxw2nooA&amp;v=1" type="text/javascript"></script> 
<script type="text/javascript">twttr.anywhere(function (T) {T("#contents").hovercards();});</script>

</body>
</html>